    <style>
        
        .bPageBlock .detailList .labelCol {
            width: 0%;
        }

        .bPageBlock .detailList .dataCol {
            width: 100%;
        }

        body .bPageBlock .pbBody .dataCol {
            display: block;
            margin-left: 40px;
        }

        select {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 5px;
            text-align: center;
        }

        .pbSubheader {
            margin-top: 5px!important;
        }
        
        .bPageBlock .dataCol {
            text-align: center;
        }
        
        .bPageBlock .requiredInput .requiredBlock {
            height: 18px;
         }
        
        .bPageBlock .detailList textarea {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 5px;
        }
        
        .bPageBlock .detailList .errorMsg {
            margin-bottom: 15px;
        }

        td {
            font-family: sans-serif;
            font-size: 15px;
        }

        .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3 {
            font-size: 2em;
        }
        
        .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
            border-radius: 25px;
        }

        .caseTab .tertiaryPalette, .individualPalette .caseBlock .tertiaryPalette {
            background-color: #172542;
            border-color: #172542;
        }

        .caseTab .secondaryPalette, .individualPalette .caseBlock .secondaryPalette {
            background-color: #172542;
            border-color: #172542;
        }
        
        .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader .hideListButton, .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader .showListButton {
            background-position: 3px -34px;
            background-color: #e94f3d;
        }
        
        body .bPageBlock .pbBody .pbSubheader img {
            height: 16px;
            width: 16px;
            border-radius: 25px;
            margin-left: 6px;
        }

        .apexp .bPageBlock .pbHeader .btn {
            width: 70px;
        }

        .apexp .bPageBlock .pbBottomButtons .btn {
            width: 70px;
            top: 2px;
        }

        body .bPageBlock .pbTitle {
            display: none;
        }

        .savebtn {
            float: right;
            margin-top: -25px !important;
        }
    
    </style>