<style>

	body .labelCol, .dataCol .empty {
		display: none;
	}

	body .bPageBlock .pbTitle {
		display: none;
	}

	body .bPageBlock .pbBody .pbSubheader img {
		height: 16px;
		width: 16px;
		border-radius: 25px;
		margin-left: 6px;
	}

	body .bPageBlock .pbBody .dataCol .last {
		width: 80%;
	}
	
	body tr.multiSelectPicklistRow td:not(.multiSelectPicklistCell) {
		width: 48%;
		overflow: scroll;
	}

	td {
		font-family: sans-serif;
		font-size: 15px;
	}

	label {
		color: #172541;
		padding-right: 15px;
	}

	select {
		font-size: 14px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 53%;
		margin-bottom: 15px;
		margin-top: 5px;
		text-align: center;
		border-color: #172542;
		border-width: 1px;
		border-radius: 5px;
		background-color: #ffffff
	}

	input {
		padding-left: 5px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 15px;
		font-size: 14px;
		width: 50%;
		border-color: #172541;
		border-width: 1px;
		border-radius: 5px;
	}

	.bPageBlock .detailList .dataCol, .multiSelectPicklistTable {
		width: 100%;
	}

	.cke_chrome {
		margin-top: 5px !important;
	}

	.pbSubheader {
		margin-top: 5px !important;
	}

	.bPageBlock .dataCol {
		text-align: center;
	}

	.bPageBlock .requiredInput .requiredBlock {
		display: none;
	}

	.bPageBlock .detailList textarea {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 5px;
	}

	.bPageBlock .detailList .errorMsg {
		margin-bottom: 15px;
	}

	.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3 {
		font-size: 2em;
	}

	.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
		border-radius: 25px;
	}
	
	body .individualPalette .secondaryPalette.bPageBlock {
		background: #f8f8f8 !important;
	}

	.caseTab .tertiaryPalette, .individualPalette .caseBlock .tertiaryPalette {
		background: rgb(2,0,36);
		background: -webkit-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(23,37,66,1) 50%, rgba(125,152,170,1) 100%);
		background: -o-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(23,37,66,1) 50%, rgba(125,152,170,1) 100%);
		background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(23,37,66,1) 50%, rgba(125,152,170,1) 100%);

	}

	.caseTab .secondaryPalette, .individualPalette .caseBlock .secondaryPalette {
		background: rgb(2,0,36);
		background: -webkit-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(23,37,66,1) 50%, rgba(125,152,170,1) 100%);
		background: -o-linear-gradient(bottom, rgba(2,0,36,1) 0%, rgba(23,37,66,1) 50%, rgba(125,152,170,1) 100%);
		background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(23,37,66,1) 50%, rgba(125,152,170,1) 100%);
		border-top: 1px solid #eaeaea
	}

	.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader .hideListButton, .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader .showListButton {
		background-position: 3px -34px;
		background-color: #e94f3d;
	}

	.apexp .bPageBlock .pbHeader .btn {
		width: 70px;
	}

	.apexp .bPageBlock .pbBottomButtons .btn {
		width: 70px;
		top: 2px;
	}

	.refreshbtn {
		float: right;
	}

</style>